.CircleCard {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  margin: 50px;
  opacity: 0.9;
}

.CircleCard > div {
  max-width: 200px;
}

@media (max-width: 700px) {
  .CircleCard {
    height: 280px;
    width: 280px;
  }
}
