.BackgroundImage {
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.Albuquerque {
  background-image: url('../../assets/Images/Albuquerque.jpg');
}

.Winnipeg {
  background-image: url('../../assets/Images/Winnipeg.jpg');
}

.Boston {
  background-image: url('../../assets/Images/Boston.jpg');
}

@media (max-width: 800px) {
  .BackgroundImage {
    height: auto;
    min-height: 95vh;
    background-attachment: scroll;
  }
}
