.BackgroundImage {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('../../assets/Images/Albuquerque.jpg');*/
}

.Albuquerque {
  background-image: url('../../assets/Images/Albuquerque.jpg');
}

h1 {
  color: white;
}
