.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toolbar * {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .RightBorder {
    border-right: 1px solid grey;
    padding-right: 10px;
  }
}
