.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toolbar * {
  font-family: 'Raleway', sans-serif;
}

.Toolbar a {
  text-decoration: none;
  color: white;
}

.rowOrColumn {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .rowOrColumn {
    flex-direction: column;
  }
}
