.card {
  width: 25%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.9;
}

a {
  color: inherit;
  text-decoration: none;
}

.horizontalAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .card {
    width: auto;
    height: auto;
    max-height: 30%;
    max-width: 90%;
  }
}
