.CenterBox {
  background-color: #303030;
  opacity: 0.9;
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.CenterBox * {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.CenterBox hr {
  width: 80%;
}

@media (max-width: 500px) {
  .CenterBox {
    width: 50%;
  }
}
